# Defconfig for NanoPi Zero2 ImageBuilder build.
# CONFIG_IB=y tells the buildroot to produce the ImageBuilder tarball.
CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv8=y
CONFIG_TARGET_rockchip_armv8_DEVICE_friendlyarm_nanopi-zero2=y
CONFIG_IB=y
